body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: auto;
    color: black;
    background: url("../images/background.jpg"), url("../images/manga-storyboard.jpg");
    background-size: inherit;
    background-repeat: no-repeat, repeat;
    background-position: center top, center bottom;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

#giphyTitle { 
    background: url("../images/static-tv.jpg");
    background-size: contain;
    background-size: 255px;
    background-repeat: no-repeat;
    padding: 5.5%;
    margin: 3%;
    text-align: inherit;
    color: orangered;
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1.5%;
    margin-top: 1.5%;
    height: auto;
    width: auto; 

}

#searchBar {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -3%;
    align-content: center;
}

#submit {
    margin-left: 30%;
    margin-right: 30%;
    color: black;
    
}

.container {
    margin: 5%;
    align-content: center;
}

#gifArea {
    background: rgba(0, 0, 0, 0.479);
    height: auto;
    width: auto;
    color: white;
    display: -ms-flexbox;
    margin-left: 20%;
    margin-right: 20%;
}

#instructions {
    background: rgba(0, 0, 0, 0.308);
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
 