body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    height: auto;
    position: relative;
    z-index: 1;
    font-size: auto;
    color: black;
    background: url("../images/background.jpg");
}

#giphyTitle {
    background: url("../images/static-tv.jpg");
    padding: 1.5%;
    margin: 3%;
    text-align: center;
    color: orangered;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-left: 30%;
    margin-right: 30%;
    height: auto;
    width: auto; 
}

#searchBar {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -2%;
    align-content: center;
}

#submit {
    margin-left: 30%;
    margin-right: 30%;
    
}

.container {
    margin: 5%;
    align-content: center;
}

#gifArea {
    background: black;
    height: auto;
    width: auto;
    color: white;
}